@page "/categories/edit/{Id:int}"

<h3>Editar Categoría</h3>

@if (category is null)
{
    <Loading />
}
else
{
    <FormWithName @ref="categoryFormyou" Model="category" Label="Categoria" OnValidSubmit="EditAsync" ReturnAction="Return" />
}
